<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/app.css">
    <title>Create Client</title>
</head>
<body>
<h1 class="flex flex-row justify-center self-center w-full text-center text-3xl py-4 font-bold">Create Client</h1>
<div class="flex flex-row justify-center mx-auto">
    <form class="w-fit flex flex-col justify-center" action="/api/clients" method="post"
          enctype="application/x-www-form-urlencoded">
        <div class="flex flex-row gap-2">
            <div class="mb-6">
                <label for="FirstName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First
                    Name:</label>
                <input type="text" id="FirstName" name="FirstName"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="Tom" required>
            </div>
            <div class="mb-6">
                <label for="LastName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last
                    Name:</label>
                <input type="text" id="LastName" name="LastName"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="Smith" required>
            </div>
        </div>
        <div class="mb-6">
            <label for="Email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email:</label>
            <input type="email" id="Email" name="Email"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                   placeholder="name@flowbite.com" required>
        </div>
        <div class="mb-6">
            <label for="Phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone:</label>
            <input type="tel" id="Phone" name="Phone"
                   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                   placeholder="3672-8772-22" required>
        </div>
        <button type="submit"
                class="text-white bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Submit
        </button>
    </form>
</div>
</body>
</html>