<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/styles/app.css">
    <title>User List</title>
</head>
<body>
<h1 class="flex flex-row justify-center self-center w-full text-center text-3xl py-4 font-bold">Users</h1>
<div class="w-full flex flex-row justify-center py-2">
    <a class="w-fit mx-auto px-4 py-2 bg-blue-500 text-white font-bold">Create</a>
</div>
<div class="mx-auto w-fit relative overflow-x-auto shadow-md sm:rounded-lg">

</div>
</body>
</html>